@page "/overview"
@model Fido2Demo.OverviewModel
@{
    Layout = "_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <h1 class="title is-1">Passkey Accounts Using Stellar</h1>
                <div class="content">
                    <p>
                        A working implementation of Webauthn Passkey based sign up and sign in, with integrated public Accounts provided by Stellar.
                    </p>
                </div>

                <h3 class="title is-2">Purpose</h3>
                <div class="content">
                    <p>For .NET Developers across the board, from startup to enterprise, to provide an example of how simple and powerful it is to do passwordless authentication, authorisation and account management on .NET 
                       by using Webauthn in combination with Stellar public accounts.</p>
                   
                </div>
                <h3 class="title is-2">What is Passkeys / WebAuthn?</h3>
                <div class="content">
                    <h3 class="subtitle is-6">The passwordless web</h3>
                    <p>
                        Passkeys / WebAuthn is a new open authentication standard, supported by browsers, mobiles and many large tech companies such as Microsoft, Google etc. The main driver is to allow a user to login without passwords, creating passwordless flows or strong MFA for user signup/login on websites. 
                        Passkeys is becoming the new sign-in standard for applications, growing in public usage, and increasingly a mandated corporate/government standard, such as in healthcare and finance enterprise environments.
                    </p>
                </div>
                <h3 class="title is-2">What is Stellar?</h3>
                <div class="content">
                    <h3 class="subtitle is-6">A powerful account management platform</h3>
                    <p>
                        Stellar is a powerful, robust and highly secure distributed ledger and distributed database that allows the creation of programmable "smart" accounts and allows operations to occur on and between them.
                    </p>
                    <p>
                        As a developer, you may find yourself in a business-to-consumer environment, such as game development, 
                        or in an enterprise dealing with hundreds, thousands or more of internal users and external partners, 
                        or even in a state or federal government environment. In all these cases, there is a recurring theme of how
                        to create accounts and re-use the logic of account management and permissions across different applications.
                    </p>
                    <p>
                        When accounts can be anonymised, or when accounts must be public and must be transparent, or when immutable,
                        traceable, permanent and public records are essential, then accounts can be created on a public network. 
                    </p>
                    <p>
                        Stellar is a public network that offers fast transaction processing and permanent, transparent records. In this
                        demo we show to do cross-cutting authorisation, authentication and custom account functionality, using .NET
                        and Stellar with ultra-secure, phishing proof Passkeys.
                    </p>

                </div>

                <div class="content">
                    <h3 class="title is-3">Using the demo</h3>
                    <p>Be ready with a mobile phone or security key and select the Interactive Passkey Demo tab above to register and sign in.</p>
                    <p>The demo illustrates using the sign up process to create a site passkey, which behind the scenes creates a Stellar smart
                        account tied to that passkey.
                    </p>
                    <p>Following that you can then sign in, which invokes Stellar custom logic to publically record the sign in, which can only be authorised by a sign in from that passkey.</p>
                    <p>This simple use case shows how a sign in book, guestbook or similar can be implemented, and where the history of signins is immutable, transparent and guaranteed.</p>
                    <p>In more complex scenarios your custom Stellar logic could support, for example, consolidated game inventory management, where in-game operations change what the player owns and could even allow those items to be publically traded!</p>


                </div>

                <div class="content">
                <h3 class="title is-3">More Info</h3>
                <p>For more information and a full explanation of the demo, please see the DEV.TO article here TODO LINK </p>
                </div>
                    
     
            </div>
        </div>
    </div>
</section>